/* Продукция */

main {
  padding-top: 80px;
  background: var(--primary-color);
}

.products {
}

.products-container {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* gap: calc(var(--index) * 1); */
  gap: 25px;
  padding: 60px 30px 60px 30px;
  max-width: 1400px;
}

.product {
  position: relative;
  /* min-height: 450px; */
  height: 100%;
  width: 25%;
  /* max-height: 540px; */
  max-width: 320px;
  padding: 10px;
  background: transparent;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border: 2px solid var(--nav-font-color-hover);
  border-radius: 20px;
  transition: 0.25s ease;
  cursor: default;
}

.product:hover {
  /* background: var(--secondary-color); */
  /* box-shadow: 0 0 7px #8a8a8a; */
  transform: translate3d(0, -25px, 0) scale(1.05);
}

.product img {
  height: 100%;
  max-height: 200px;
  width: 100%;
  margin-bottom: 15px;
  /* padding: 10px; */
  border-radius: 7px;

  /* border: 1px solid var(--tertiary-color); */
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  /* border: 1px solid rgba(156, 44, 29, 0.623); */
  border-radius: 20px;
}

.product__title {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}

.product__description-container {
  min-height: 80px;
  /* max-height: 170px; */
  /* height: 170px; */
  width: 100%;
  margin: 10px;
  overflow: hidden;
}

.product__description {
  /* font-family: SF Pro Display; */
  font-weight: 400;
  font-size: 0.8em;
  margin: 0 20px;
  line-height: 1.5em;

  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: 0.2s ease-in;
}

.product:hover .product__description {
  /* -webkit-line-clamp: inherit; */
  /* -webkit-transition: 0.2s ease-in; */
}

.product__price {
  font-size: calc(15px + 0.3vw);
}

.product__price strong {
  font-weight: 600;
}

.buy-product__button {
  position: absolute;
  font-size: calc(15px + 0.1vw);
  padding: 12px 35px;
  bottom: 30px;
  color: white;
  background: var(--btn-bg-color);
  border-radius: 10px;
  cursor: pointer;
  transition: var(--btn-transition);
}

.buy-product__button:hover {
  background: var(--btn-bg-color-hover);
  box-shadow: 0 0 5px rgb(146, 84, 60);
  transition: var(--btn-transition);
}

.buy-product__button:active {
  background: var(--btn-bg-color-active);
}
