.header {
  position: relative;
  background: var(--tertiary-color);
}

.header-main-page {
  /* background: var(--tertiary-color); */
  /* min-height: 100vh; */
  height: 105vh;
  min-height: 700px;
  max-height: 1080px;
  padding-bottom: var(--header-inner-padding-bottom-desktop);
}

.header__content {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.header__content::after {
  content: "";
  position: absolute;
  height: 90px;
  width: 100%;
  top: 0;
  /* background-color: var(--tertiary-color); */
  opacity: 0.9;
}

/* левая часть */

.header__left-side {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  /* background: var(--tertiary-color); */
  background: rgb(39, 39, 39, 0.9);
  background: linear-gradient(
    to right,
    rgb(39, 39, 39) 10%,
    rgba(39, 39, 39, 0.85)
  );
  z-index: 999;
}

.header__left-side-scew {
  position: absolute;
  height: 100%;
  width: 80%;
  left: 100%;
  opacity: 0.75;
  z-index: 99;
}

.header__left-side-scew path {
  fill: var(--tertiary-color);
}

.header__logo {
  position: relative;
  margin-left: 100px;
  z-index: 2;
}

.header__logo img {
  display: block;
  width: calc(var(--index) * 16);
  /* width: 100%; */
  max-width: 450px;
  margin: 0 auto;
}

.header__company-name {
  display: block;
  color: white;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
}

/* правая часть */

.header__right-side {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.header__right-side::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--tertiary-color);
  opacity: 0.4;
  z-index: 1;
}

/* .header__right-side::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: var(--tertiary-color);
  opacity: 0.6;
  z-index: 2;
} */

.header__site-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  width: auto;
  right: calc(var(--index) * 1);
  left: calc(var(--index) * 10);
  z-index: 2;
}

.header__site-description span {
  display: block;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: rgb(238, 238, 238);
  /* max-width: 1325px; */
  text-shadow: 0 0 10px rgb(48, 48, 48);

  cursor: default;
}

.header__site-description a {
  position: relative;
  height: 40px;
  width: 40px;
  top: -5px;
  right: 30px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-bottom-right-radius: 4px;
  transform: rotate(45deg);
  will-change: transform;
  animation: 1.1s header-arrow linear infinite;
}

.header__site-description a::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  right: 8px;
  bottom: 8px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  /* border-bottom-right-radius: 5px; */
}

/* фоновая картинка */

.header__background {
  position: absolute;
  height: 100%;
  width: 105vw;
  top: 0;
  left: 0;
  /* transform-style: preserve-3d; */
  /* perspective: 1000px; */
  z-index: 1;
}

.header__background-img {
  position: absolute;
  background-image: url(../img/header-bg5.2.jpg);
  /* background-image: url(../img/header-bg4.jpg); */
  /* background-image: url(../img/header-bg5.4.jpg); */
  /* background-image: url(../img/header-bg5.5.jpg); */
  /* background-image: url(../img/header-bg6.png); */
  background-position: center;
  background-size: cover;
  transform: translate3d(var(--move-x), var(--move-y), 0);
  will-change: transform;
  height: 100%;
  width: 100%;
  transition: transform 2s cubic-bezier(0.05, 0.5, 0, 1);
  /* inset: -2vw; */
}

/* навигация */

.header__navigation {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 90px;
  min-height: 80px;
  padding: 15px 0 15px 0;

  /* background: linear-gradient(rgb(39, 39, 39) 5%, rgba(39, 39, 39, 0.5)),
    linear-gradient(to right, rgba(39, 39, 39, 0.85) 5%, rgba(39, 39, 39, 0));

  background: linear-gradient(rgba(39, 39, 39) 5%, rgba(39, 39, 39, 0.6)); */

  /* background: linear-gradient(rgba(39, 39, 39, 0.98) 55%, rgba(39, 39, 39, 0)); */

  overflow-y: hidden;
  transition: 0.5s;
  z-index: 9999;
}

.header__navigation_flat-color {
  background: var(--tertiary-color);
}

.header__navigation_gradient-color::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 100%;
  top: 0;
  background: linear-gradient(rgba(39, 39, 39, 0.98) 55%, rgba(39, 39, 39, 0));
  transition: 0.5s;
  z-index: -1;
}

.header__navigation--scrolled {
  /* background: var(--tertiary-color); */
}

.header__navigation--scrolled.header__navigation_gradient-color::before {
  height: 135px;
}

.header__navigation--scrolled .nav__item,
.header__navigation--scrolled .header__telephone span {
  /* font-size: var(--nav__item-font-size-scrolled); */
}

nav {
  flex-grow: 0.5;
}

menu {
  display: flex;
  justify-content: flex-end;
  /* gap: 60px; */
  /* gap: 40px; */
  gap: calc(var(--index) * 2);
}

.header__nav-item {
  position: relative;
  /* display: block; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  /* font-size: var(--nav__item-font-size); */
  /* font-weight: 500; */
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--nav-font-color);
  /* padding: 5px 10px; */
  padding: 5px;
  border: 1px solid transparent;
  transition: var(--nav-transition);
}

.header__nav-item:hover {
  color: var(--nav-font-color-hover);
  /* border: 1px solid var(--nav-font-border-color); */
  transition: 0.25s ease-out;
}

.header__nav-item--active {
  color: var(--nav-font-color-hover);
}

.header__nav-item::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 2px;
  background: var(--nav-font-color-hover);
  transition: 0.2s;
}

.header__nav-item:hover::after {
  width: 100%;
}

.header__telephone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-grow: 0;
}

.header__telephone i {
  position: absolute;
  display: block;
  font-size: 28px;
  color: var(--nav-font-color-hover);
  left: -36px;
  top: -2px;
  will-change: transform;
  animation: 1.5s infinite telephone;
}

.header__telephone span {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  transition: var(--nav-transition);
}

.header__telephone span:hover {
  color: var(--nav-font-color-hover);
  transition: 0.25s ease-out;
}

.header__telephone span::before {
  /* content: url(../img/free-icon-font-phone-call-5070407.svg); */
  /* content: ""; */
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  left: -36px;
  top: -3px;
  background: url("../img/free-icon-font-phone-call-5070407.svg");
  /* background-position: center;
  background-size: cover;
  background-size: 32px;
  background-repeat: no-repeat; */

  animation: 1.2s infinite telephone;
}

.header__telephone span::before path {
  fill: var(--nav-font-color-hover);
}

.header__bottom-scew {
  /* position: relative; */
  /* display: none; */
  height: 90px;
  width: 100%;
  left: 0;
  bottom: -90px;
}

.header__bottom-gradient {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(rgb(39, 39, 39, 0.1), rgba(39, 39, 39, 0.98) 85%);
  /* background: linear-gradient(rgb(39, 39, 39, 0.1), rgba(39, 39, 39) 80%); */
  /* opacity: 0.6; */
  z-index: 999;
}

/* Мобильная навигация */

.header__mobile-navigation--active {
  min-height: 280px;
}

/* Кнопка меню */

.header__toggle-menu {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.header__toggle-menu span {
  display: block;
  position: absolute;
  top: 22px;
  left: 6px;
  right: 6px;
  height: 3px;
  background: white;
  border-radius: 10px;
}
.header__toggle-menu span:before,
.header__toggle-menu span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
}
.header__toggle-menu span:before {
  top: -15px;
  border-radius: 10px;
}
.header__toggle-menu span:after {
  bottom: -15px;
  border-radius: 10px;
}

/* --------------------------------------------- */

@keyframes telephone {
  /* 0% {
    height: 32px;
    width: 32px;
  }

  50% {
    height: 28px;
    width: 28px;
  }

  100% {
    height: 32px;
    width: 32px;
  } */
  0% {
    /* font-size: 28px; */
    transform: scale(1);
  }

  50% {
    /* font-size: 25px; */
    transform: scale(1.1);
  }

  100% {
    /* font-size: 28px; */
    transform: scale(1);
  }
}

@keyframes header-arrow {
  0% {
    transform: rotate(45deg) translate(-5px, 10px);
  }
  50% {
    transform: rotate(45deg) translate(-3px, 12px);
  }
  100% {
    transform: rotate(45deg) translate(-5px, 10px);
  }
}
