.section-scew {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  z-index: 99;
}

/* Дрова */

.wood__background-img {
  position: absolute;
  /* height: 320px;
  width: 320px; */
  /* top: 130px; */
  right: 50px;
  bottom: -70px;
  transform: rotate(-15deg);
  opacity: 0.1;
  z-index: 1;
}

.wood__background-img svg {
  height: 320px;
  width: 320px;
}

.wood__background-img path {
  stroke: var(--nav-font-color-hover);
}

.wood {
  padding: 250px 50px 150px 50px;
  background: var(--primary-color);
}

.wood .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wood__title::before {
  content: "Колотые дрова";
}

.wood__img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}

.wood__img img {
  position: relative;
  display: block;
  height: calc(var(--index) * 18);
  z-index: 999;
  transition: 1s;
}

.wood__img img:hover {
  transform: scale(1.05);
}

.wood__img-shadow {
  content: "";
  position: absolute;
  width: 350px;
  bottom: -20px;
  box-shadow: 0 0 70px 15px black;
  transition: 1s;
  z-index: 99;
}

.wood__img:hover .wood__img-shadow {
  width: 400px;
}

.wood__left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.wood__right-side {
  width: 55%;
}

.wood__description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wood__description {
  display: block;
  font-size: calc(15px + 0.5vw);
  font-weight: 400;
  line-height: 1.5em;
  text-shadow: 0 0px 1px rgb(187, 187, 187);
}

.wood__subtitle {
  position: relative;
  /* margin-left: 40px; */
}

.wood__subtitle::before {
  /* position: absolute;
  content: url(../img/wood-cut.png);
  height: 60px;
  width: 60px;
  left: -50px; */
}

.subtitle {
  position: relative;
  font-size: 1.1em;
  font-weight: 700;
  margin-left: 30px;
}

.subtitle::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 95%;
  left: 0;
  bottom: -8px;

  /* background: var(--btn-bg-color); */
  background: rgb(167, 117, 11);
  border-radius: 10px;
}

.subtitle::before {
  position: absolute;
  content: "\\ \\";
  font-size: 1.1em;
  font-weight: 800;
  color: rgb(167, 117, 11);
  letter-spacing: -3px;
  left: -35px;
}

.wood__list {
  margin-top: 20px;
  margin-bottom: 30px;
}

.wood__list ul {
  font-style: italic;
  margin-top: 5px;
  margin-left: 40px;
}

.wood__list li {
  position: relative;
}

.wood__list li::before {
  position: absolute;
  content: "\2714";
  height: 50px;
  width: 55px;
  left: -25px;
  color: rgb(167, 117, 11);
  /* background: black; */
}

.wood__button {
  font-size: calc(15px + 0.8vw);
  color: var(--btn-bg-color);
  margin-top: 40px;
  padding: 5px 25px;
  background: transparent;
  border: 2px solid var(--btn-bg-color);
  border-radius: 10px;
  transition: var(--btn-transition);
  cursor: pointer;
}

.wood__button:hover {
  background: var(--btn-bg-color);
  color: var(--primary-color);
}

.wood__background-scew {
  position: absolute;
  width: 800px;
  right: -80px;
  opacity: 0.3;
}

/* Древесеные изделия */

.wood-products {
  padding: 280px 0 240px 0;
  background: var(--secondary-color);
}

.wood-products .container {
  position: relative;
  padding: 0 50px;
}

.wood-products__left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  z-index: 2;
}

.wood-products .title::before {
  content: "Древесные изделия";
}

.wood-products__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wood-products__description {
  position: relative;
  display: block;
  font-family: "Montserrat";
  /* font-family: Roboto; */
  font-weight: 300;
  font-size: calc(15px + 0.5vw);
  line-height: 1.5em;
  text-shadow: 0 0px 1px rgb(187, 187, 187);

  /* height: 100%; */
  width: 100%;
  top: 0;
  left: 0;
  /* background: var(--secondary-color); */
}

.wood-products__description ul {
  margin-top: 20px;
}

.wood-products__button {
  font-size: calc(15px + 0.8vw);
  /* font-weight: 300; */
  color: var(--btn-bg-color);
  /* color: rgb(179 153 84); */
  margin-top: 30px;
  padding: 5px 25px;
  background: transparent;
  border: 2px solid var(--btn-bg-color);
  border-radius: 10px;
  transition: var(--btn-transition);
  cursor: pointer;
}

.wood-products__button:hover {
  background: var(--btn-bg-color);
  /* background: rgb(193 163 84); */
  color: var(--primary-color);
  transition: var(--btn-transition);
}

.wood-products__right-side {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  z-index: 3;
}

.wood-products__img {
  /* border: 6px solid rgb(167, 117, 11); */
  border: 6px solid rgb(167, 117, 11);
  box-shadow: 0 0 12px 3px rgb(117, 90, 30);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  /* rgb(167, 117, 11), rgb(243, 183, 53) */
}

.wood-products__img img {
  display: block;
  max-width: 100%;
  width: 600px;
}

.wood-products__top-scew {
  position: absolute;
  max-height: 300px;
  top: 0;
  z-index: 1;
}

.wood-product__right-scew {
  position: absolute;
  top: 0px;
  right: 0;
  height: 140%;
  width: 45%;
  /* width: 800px; */
  overflow: visible;
  z-index: 2;
}

.wood-product__right-scew path {
  fill: var(--nav-font-color-hover);
  width: 800px;
}

/* Как заказать */

.about-order {
  /* position: relative; */
  background: var(--primary-color);
  /* z-index: 1; */
}

.about-order .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
  z-index: 3;
}

.about-order__title::before {
  content: "Доставка и оплата";
}

.order-type-select {
  background: var(--secondary-color);
  padding: 25px;
  border-radius: 10px;
}

.order-type-select-container {
  display: flex;
  gap: 100px;
}
.order__type {
  --text-color: rgb(102, 69, 19);
  position: relative;
  /* font-style: italic; */
  font-family: Roboto;
  font-size: calc(15px + 0.6vw);
  font-weight: 500;
  /* color: var(--btn-bg-color); */
  /* color: var(--nav-font-color-hover); */
  color: var(--text-color);
  /* padding: 10px; */
  /* background: var(--primary-color); */
  background: var(--secondary-color);
  /* box-shadow: 0 3px 15px gray; */
  cursor: pointer;
  z-index: 999;
}

.order__type span {
  display: block;
  padding: 10px 30px;
  text-align: center;
  /* background: var(--primary-color); */
}

.order__type span::after,
.order__type span::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  /* z-index: -1; */
  transition: 0.4s ease;
}

.order__type span:hover::after,
.order__type span:hover::before {
  height: calc(100% + 10px);
  width: calc(100% + 10px);
}

.order__type span:hover::after {
  /* height: 100%;
  width: 100%; */
  border-top: 1px solid var(--nav-font-color-hover);
  border-left: 1px solid var(--nav-font-color-hover);
}

.order__type span:hover::before {
  /* height: 100%;
  width: 100%; */
  border-bottom: 1px solid var(--nav-font-color-hover);
  border-right: 1px solid var(--nav-font-color-hover);
}

.order__type span::after {
  top: -5px;
  left: -5px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-top: 0px solid var(--nav-font-color-hover);
  border-left: 0px solid var(--nav-font-color-hover);
  transform: translate(-1px, -1px);
  z-index: -1;
}

.order__type span::before {
  right: -5px;
  bottom: -5px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 0px solid var(--nav-font-color-hover);
  border-right: 0px solid var(--nav-font-color-hover);
  transform: translate(-1px, -1px);
  z-index: 1;
}

.about-order__description {
  counter-reset: p;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.about-order__description p {
  position: relative;
  display: block;
  /* font-family: Roboto; */
  /* font-weight: 700; */
  font-size: calc(15px + 0.5vw);
  line-height: 1.5em;
  /* color: var(--text-color); */
  padding: 30px;
  text-shadow: 0px 0px 1px rgb(82, 82, 82);
  -webkit-box-shadow: 0px 5px 8px 1px rgba(47, 65, 77, 0.2);
  -moz-box-shadow: 0px 5px 8px 1px rgba(47, 65, 77, 0.2);
  box-shadow: 0px 5px 8px 1px rgba(47, 65, 77, 0.2);
  background: var(--secondary-color);
  border-radius: 20px;
  transition: 0.3s;
  cursor: default;
  /* z-index: 999; */
}

.about-order__description p:hover {
  /* transform: translateY(-10px); */
}

/* .about-order__description p::before {
  position: absolute;
  display: block;
  counter-increment: p;
  content: counter(p);
  font-style: italic;
  font-weight: 600;
  color: var(--nav-font-color);
  top: -15px;
  left: -10px;
  padding: 5px 12px 5px 8px;
  background: var(--nav-font-color-hover);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
} */

.about-order__description p::after,
.about-order__description p::before {
  position: absolute;
  content: "";
  display: block;
  height: calc(50% + 5px);
  width: calc(50% + 5px);
  border-radius: 20px;
  transition: 0.3s;
  z-index: -1;
}

.about-order__description p::after {
  left: -5px;
  top: -5px;
  border-top: 5px solid var(--nav-font-color-hover);
  border-left: 5px solid var(--nav-font-color-hover);
}

.about-order__description p::before {
  bottom: -5px;
  right: -5px;
  border-bottom: 5px solid var(--nav-font-color-hover);
  border-right: 5px solid var(--nav-font-color-hover);
}

.about-order__description p:hover::after,
.about-order__description p:hover::before {
  height: calc(100% + 5px);
  width: calc(100% + 5px);
}

/*  */

.cargo-transportation {
  padding: 0;
  background: var(--secondary-color);
}

.cargo-transportation .container {
  z-index: 1;
}

.cargo-transportation__title::before {
  content: "Грузоперевозки";
}

.cargo-transportation__img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  /* background: #cd9e56; */
}

.cargo-transportation__img img {
  /* position: relative; */
  display: block;
  width: 700px;
  max-width: 100%;
  margin: 0 70px 0 70px;
  object-fit: cover;
  z-index: 999;
}

.transport__svg {
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 99;
}

#transport__svg1 {
}

.cargo-transportation__description {
  width: 50%;
  margin-top: 60px;
  padding: 50px 0;
}

.cargo-transportation__description p {
  font-size: 22px;
  line-height: 1.5em;
  margin: 0 70px 0 70px;
}

.cargo-transportation__scew {
  position: absolute;
  height: 120px;
  width: 100%;
  z-index: 99;
}

/*  */
.tree-clearing {
  background: var(--primary-color);
}
.tree-clearing-container {
}

/* О комапании */

.about-company {
  background: var(--secondary-color);
}

.about-company h2 {
  text-align: start;
  margin-bottom: 40px;
  margin-left: 80px;
}

.about-company__company-description {
  font-size: calc(15px + 0.5vw);
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 105px;
}

/* Преимущества компании

.company-advantages {
  position: relative;
  padding-top: 30px;
  padding-bottom: 0;
  background: var(--secondary-color);
}

.company-advantages h3 {
  margin-bottom: 30px !important;
}

.company-advantages-container {
  display: flex;
  justify-content: center;
  gap: calc(var(--index) * 5);
  padding: 0 30px;
  flex-wrap: wrap;
}

.company__advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  text-align: center;
}

.company__advantage img {
  height: calc(var(--index) * 3);
  max-height: 250px;
  width: auto;
}

.company__advantage span {
  display: block;
  font-size: calc(15px + 0.2vw);
  font-weight: 400;
  margin-top: 5px;
} */
