:root {
  --index: calc(1vh + 1vw);
  --primary-color: rgb(245, 235, 226);
  --secondary-color: rgb(245, 245, 245);
  --tertiary-color: rgb(39, 39, 39);
  /* --quaternary-color: rgb(156, 44, 29); */
  --quaternary-color: rgb(145, 49, 4);
  --primary-font-color: rgb(206, 206, 206);
  --secondary-font-color: rgb(39, 39, 39);
  --nav-font-color: #fff;
  /* --nav-font-color-hover: rgb(141 132 16); */
  /* --nav-font-color-hover: rgb(169, 146, 60); */
  /* --nav-font-color-hover: rgb(160, 125, 27); */
  /* --nav-font-color-hover: rgb(161, 123, 77); */
  --nav-font-color-hover: #a17738;
  --nav-font-color-hover: #b68740;
  /* --nav-font-color-hover: #a7750b; */
  /* --nav-font-color-hover: #cf9443; */
  --nav-font-border-color: rgb(107, 100, 0);
  --nav-transition: 0.5s ease;
  --btn-transition: 0.35s ease;
  /* --btn-bg-color: rgb(165, 115, 54); */
  --btn-bg-color: rgb(145, 102, 49);
  /* --btn-bg-color-hover: rgb(197, 137, 64); */
  --btn-bg-color-hover: rgb(185 160 66);
  --btn-bg-color-active: rgb(150, 105, 51);
  --header-inner-padding-top-desktop: 64px;
  --header-inner-padding-top-mobile: 80px;
  --header-inner-padding-bottom-desktop: 80px;
  --header-inner-padding-bottom-mobile: 50px;
  --nav__item-font-size: calc(15px + 0.3vw);
  --nav__item-font-size-scrolled: calc(15px + 0.35vw);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: calc(15px + 0.4vw);
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Montserrat";

  font-weight: 400;
  color: var(--tertiary-color);
}

.page-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

h1.page-title {
  font-family: "SF Pro Display";
  /* font-size: calc(40px + 3vw); */
  /* font-size: calc(22px + 1vw); */
  font-size: 5rem;
  font-weight: 400;
  padding-top: 40px;
  text-align: center;
  background: var(--primary-color);
  color: transparent;
  -webkit-text-stroke: 1.5px var(--btn-bg-color);
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  /* font-size: calc(32px + 1vw); */
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--tertiary-color);
  margin-bottom: 40px;
  text-align: center;
  z-index: 10;
}

.title::before {
  position: absolute;
  display: block;
  font-family: Roboto;
  font-size: 1.75em;
  font-weight: 600;
  -webkit-text-stroke: 1.5px rgb(134, 111, 6);
  -webkit-text-fill-color: transparent;
  text-align: center;
  white-space: nowrap;
  transform: translate(0, -42px);
  opacity: 0.3;
  z-index: -1;
}

.button {
  font-size: 1.2rem;
  color: var(--btn-bg-color);
  padding: 5px 25px;
  background: transparent;
  border: 2px solid var(--btn-bg-color);
  border-radius: 10px;
  transition: var(--btn-transition);
  cursor: pointer;
}

.button:hover {
  background: var(--btn-bg-color);
  color: var(--primary-color);
}

.container {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  /* z-index: 2; */
}

main.page-content {
  flex: 1 0 auto;
}

.page-section {
  position: relative;
  padding: 0 150px;
}

/* Кнопка прокрутки наверх */

.scroll-top-button {
  position: fixed;
  display: block;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
  background-color: black;
  cursor: pointer;
  transition: all 0.2s;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: var(--tertiary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--nav-font-color-hover);
  border-radius: 20px;
  border: 3px solid var(--tertiary-color);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #d69e4a;
}
