.wood-products-slider {
  position: relative;

  height: 100%;
  max-width: 600px;
  width: calc(var(--index) * 25);
  /* width: 100%; */
  /* padding: 32px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 9999;
}

.wood-products-slider .slider {
  width: 100%;
  height: 100%;
  /* height: auto; */
}

.slider-images {
  max-height: 400px;
  height: calc(var(--index) * 16);
  /* max-height: 360px; */
  /* height: 100%; */
  /* margin-bottom: 32px; */
  overflow: hidden;
}

.slider-images .slider {
  transform: rotate(25deg);
  /* transform: rotate(205deg); */
}

.swiper-wrapper {
}

.swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.slider-images .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-25deg);
  /* transform: rotate(-205deg); */
  transition: 0.75s;
}

.slider-images .swiper-slide-next,
.slider-images .swiper-slide-prev {
  transform: rotate(-25deg) scale(0.85);
  opacity: 0.5;
}

.swiper-wrapper .swiper-slide img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider-images .swiper-slide img {
  height: auto;
  width: calc(var(--index) * 16);
  max-width: 400px;
  /* height: 400px;
  width: 100%; */
  transition: 0.8s;
}
.slider-images .swiper-slide img:hover {
  transform: scale(1.05);
}

.slider__img {
}

.wood-product__img {
}

.swiper-pagination {
}

.slider-thumbs {
  /* padding: 10px; */
  /* height: 150px; */
  cursor: pointer;
  overflow: hidden;
}

.slider-thumbs:active {
  cursor: grab;
}

.slider-thumbs .swiper {
}

.swiper-slide {
  height: 100%;
  width: 100%;
}

.slider-thumbs .swiper-slide {
}

.slider-thumbs .swiper-slide img {
  height: calc(var(--index) * 7);
  width: calc(var(--index) * 7);
  max-height: 120px;
  max-width: 120px;
  padding: 5px;
  border-radius: 10px;
  border: 4px solid transparent;
  transition: 0.3s;
}

.slider-thumbs .swiper-slide-thumb-active img {
  border: 4px solid var(--quaternary-color);
}

.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 37%);
  color: var(--quaternary-color);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 65px;
}
