:root {
  --index: calc(1vh + 1vw);
  --primary-color: rgb(245, 235, 226);
  --secondary-color: rgb(245, 245, 245);
  --tertiary-color: rgb(39, 39, 39);
  /* --quaternary-color: rgb(156, 44, 29); */
  --quaternary-color: rgb(138, 35, 21);
  --primary-font-color: rgb(206, 206, 206);
  --secondary-font-color: rgb(39, 39, 39);
  --nav-font-color: #fff;
  /* --nav-font-color-hover: rgb(141 132 16); */
  /* --nav-font-color-hover: rgb(169, 146, 60); */
  /* --nav-font-color-hover: rgb(160, 125, 27); */
  /* --nav-font-color-hover: rgb(161, 123, 77); */
  --nav-font-color-hover: #a17738;
  /* --nav-font-color-hover: #cf9443; */
  --nav-font-border-color: rgb(107, 100, 0);
  --nav-transition: 0.5s ease;
  --btn-transition: 0.35s ease;
  /* --btn-bg-color: rgb(165, 115, 54); */
  --btn-bg-color: rgb(145, 102, 49);
  /* --btn-bg-color-hover: rgb(197, 137, 64); */
  --btn-bg-color-hover: rgb(185 160 66);
  --btn-bg-color-active: rgb(150, 105, 51);
  --header-inner-padding-top-desktop: 64px;
  --header-inner-padding-top-mobile: 80px;
  --header-inner-padding-bottom-desktop: 80px;
  --header-inner-padding-bottom-mobile: 50px;
  --nav__item-font-size: calc(15px + 0.3vw);
  --nav__item-font-size-scrolled: calc(15px + 0.35vw);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  /* font-family: SF Pro Display; */
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;

  /* font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif; */
}

.page-layout {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

h1.page-title {
  font-family: "SF Pro Display";
  font-size: calc(40px + 3vw);
  /* font-size: calc(22px + 1vw); */

  font-weight: 400;
  padding-top: 40px;
  text-align: center;
  background: var(--primary-color);
  color: transparent;
  -webkit-text-stroke: 1.5px var(--btn-bg-color);
}

h2.section-title {
  /* position: relative; */
  display: block;
  font-family: Roboto;
  font-size: calc(32px + 1vw);
  /* font-size: 50px; */
  font-weight: 600;
  color: var(--tertiary-color);
  margin-bottom: 40px;
  text-align: center;
  z-index: 999;
  /* -webkit-text-stroke: 1px rgb(214, 180, 28); */
  /* -webkit-text-stroke: 1.5px rgb(134, 111, 6); */
  /* -webkit-text-stroke: 1.5px var(--nav-font-color-hover); */
  /* -webkit-text-fill-color: transparent; */
}

h2.section-title::before {
  /* content: "Древесные изделия"; */
  position: absolute;
  display: block;
  font-family: Roboto;
  font-size: 1.75em;
  font-weight: 600;
  -webkit-text-stroke: 1.5px rgb(134, 111, 6);
  -webkit-text-fill-color: transparent;
  transform: translate(-100px, -50px);
  opacity: 0.3;
  z-index: -1;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

main.page-content {
  flex: 1 0 auto;
}

.page-section {
  position: relative;
  padding: 100px 0;
  z-index: 9998;
}

/* Кнопка прокрутки наверх */

.sroll-top-button {
  position: fixed;
  display: block;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
  background-color: black;
  cursor: pointer;
  transition: all 0.2s;
}

/* Иконка корзины */

.cart-icon {
  position: fixed;
  display: none;
  padding: 15px;
  right: 20px;
  bottom: 150px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
}

.cart-icon.active {
  display: block;
}

.cart-icon:active {
  background-color: rgb(19, 19, 19);
}

.cart-icon img {
  position: relative;
  height: auto;
  width: 35px;
  left: -2px;
  top: 1px;
}

.cart-products-count-indicator {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-family: SF Pro Display;
  font-size: 14px;
  font-weight: 500;
  color: white;
  height: 20px;
  width: 20px;
  top: 0;
  left: 3px;
  background: var(--quaternary-color);
  /* background-color: rgb(148, 32, 17); */
  border-radius: 50%;
  vertical-align: bottom;
}

/* Корзина */

.cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 60vw;
  top: 15%;
  left: 20%;
  padding-bottom: 10px;
  background: var(--primary-color);
  border-radius: 10px;
  border: 3px solid var(--primary-color);
  z-index: -1;
}

.cart.active {
  z-index: 1002;
}

.cart-inner {
  height: 95%;
  width: 100%;
  overflow-y: auto;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 85%;
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  /* overflow-y: auto; */
}

.cart-dark-canvas {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.849);
  cursor: pointer;
  z-index: -1;
}

.cart-dark-canvas.active {
  z-index: 999;
}

.cart__close-cross {
  position: absolute;
  top: -30px;
  right: -50px;
  cursor: pointer;
  z-index: 999;
}

.cart__close-cross img {
  width: 50px;
}

.cart-button {
  font-size: calc(15px + 0.3vw);
  color: rgb(255 255 255);
  padding: 8px 20px;
  margin-top: 15px;
  background: var(--btn-bg-color);
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.cart-button:hover {
  background-color: var(--btn-bg-color-hover);
}

.cart-button:active {
  background-color: var(--btn-bg-color-active);
}

/* Меню корзины */

.cart-title {
  font-size: calc(17px + 0.5vw);
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.cart__product {
  padding: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.cart__product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-product__img {
  width: 150px;
  border-radius: 10px;
}

.cart-product__name {
  font-size: calc(15px + 0.3vw);
  font-weight: 500;
}

.cart-product__price {
  font-weight: 500;
}

.cart-product-count-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-product__decrease-count,
.cart-product__increase-count {
  width: 25px;
  cursor: pointer;
}

.cart-product__decrease-count {
}

.cart-product__count {
  font-weight: 500;
}

.cart-product__increase-count {
}

.cart-product__delete {
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
}

/* Полоса прокрутки корзины */

.cart-inner::-webkit-scrollbar {
  width: 12px;
}

.cart-inner::-webkit-scrollbar-track {
}

.cart-inner::-webkit-scrollbar-thumb {
  background-color: var(--btn-bg-color);
  border-radius: 20px;
  border: 3px solid var(--primary-color);
}

/* Корзина/Окно ввода пользовательских данных */

.client-info {
  position: fixed;
  height: 60vh;
  width: 40vw;
  top: 20%;
  left: 30%;
  padding: 15px;
  background: var(--primary-color);
  border-radius: 10px;
  z-index: -1;
}

.client-info.active {
  z-index: 999;
}

.client-info-title {
  font-size: calc(17px + 0.6vw);
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

#client-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(15px + 0.3vw);
  width: 100%;
}

.client-info-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

#client-info-form input {
  font-size: calc(15px + 0.3vw);
  font-weight: 500;
  padding: 5px 10px;
}

.confirm-cart__button {
  align-self: center;
  font-size: calc(15px + 0.3vw);
  color: rgb(255 255 255);
  padding: 8px 20px;
  margin-top: 15px;
  background: var(--btn-bg-color);
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.confirm-cart__button:hover {
  background-color: var(--btn-bg-color-hover);
}

.confirm-cart__button:active {
  background-color: var(--btn-bg-color-active);
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: var(--tertiary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--nav-font-color-hover);
  border-radius: 20px;
  border: 3px solid var(--tertiary-color);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(168, 158, 20);
}
